
server{
     port 4321
     host 127.0.0.1
     location / (
          get on
          post on
          delete off
          CGI_PHP /cgi-php
          auto_index on
          upload_path /
          root ../../Desktop
     )
     #location /webServ2.6 (
      #    get on
       #   post on
        #  delete off
         # CGI_PHP /cgi-php
          #auto_index on
          #upload_path ../../Desktop/ww
          #root ../../Desktop/webServ2.6
     #)
     servername reda1
     limit 100000000000000
     root ../..
     
}


