
server{
     port 4321
     host 127.0.0.1

     location / (
          get on
          post on
          delete off
          CGI_PHP /cgi-php
          auto_index on
          upload_path /
          root ../../Desktop/root
     )

     location /assets (
          get on
          post on
          delete on
          CGI_PHP /fold/itsmecgi
          auto_index off
          index index.html
          upload_path /itsmeupload
          root ../../Desktop/root/assets
     )

     location /html-css (
          get on
          post off
          CGI_PHP /fold/itsmecgi
          auto_index on
          index index.html
          upload_path /itsmeupload
          root ../../Desktop/root/htmlncss
     )

     location /dynamic (
          get on
          post on
          delete on
          CGI_PHP /
          auto_index off
          index index.html
          upload_path /itsmeupload
          root ../../Desktop/root/dynamic_files
     )
     servername reda1
     limit 100000000000000
     root ../..
     
}


